# Warm-up exercises

**1**. Print `Hello world!`

In [1]:
print("Hello world!")

Hello world!

**2**. Find the squares of the numbers from 1 to 10.

In [16]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**3**. Find all odd positive integers less than 20.

In [17]:
[x for x in range(1,21) if x % 2 == 1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**4**. Do the FizzBuzz problem in Python.

```
"Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”."
```

In [18]:
for i in range(1, 101):
    if i % 5 == 0 and i % 3 == 0:
        print("FizzBuzz")
    elif i % 5 == 0:
        print("Buzz")
    elif i % 3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

**5**. Find all unique Pythagorean triples $(a, b, c)$ such that ($a^2 + b^2 = c^2)$ for $c < 50$. Only use positive integers.

In [20]:
for a in range(1, 50):
    for b in range(1, 50):
        for c in range(1, 50):
            if a**2 + b**2 == c**2:
                print((a, b, c))

(3, 4, 5)
(4, 3, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 6, 10)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(12, 5, 13)
(12, 9, 15)
(12, 16, 20)
(12, 35, 37)
(15, 8, 17)
(15, 20, 25)
(15, 36, 39)
(16, 12, 20)
(16, 30, 34)
(18, 24, 30)
(20, 15, 25)
(20, 21, 29)
(21, 20, 29)
(21, 28, 35)
(24, 7, 25)
(24, 10, 26)
(24, 18, 30)
(24, 32, 40)
(27, 36, 45)
(28, 21, 35)
(30, 16, 34)
(32, 24, 40)
(35, 12, 37)
(36, 15, 39)
(36, 27, 45)
(40, 9, 41)

**6**. Working with strings

- Count the number of times 'Mary' occurs in the nursery rhyme
- Replace Mary with Margie
- Find all the words that end a line. You should get a list that begins with `lamb` and ends with `reply`. The words should not include punctuation.

In [22]:
s = """Mary had a little lamb,
whose fleece was white as snow.

And everywhere that Mary went,
the lamb was sure to go.

It followed her to school one day
which was against the rules.

It made the children laugh and play,
to see a lamb at school.

And so the teacher turned it out,
but still it lingered near,

And waited patiently about,
till Mary did appear.

“Why does the lamb love Mary so?"
the eager children cry.

“Why, Mary loves the lamb, you know."
the teacher did reply"""

In [25]:
s.count('Mary')

5

In [30]:
s.replace('Mary', 'Margie')

'Margie had a little lamb,\nwhose fleece was white as snow.\n\nAnd everywhere that Margie went,\nthe lamb was sure to go.\n\nIt followed her to school one day\nwhich was against the rules.\n\nIt made the children laugh and play,\nto see a lamb at school.\n\nAnd so the teacher turned it out,\nbut still it lingered near,\n\nAnd waited patiently about,\ntill Margie did appear.\n\n“Why does the lamb love Margie so?"\nthe eager children cry.\n\n“Why, Margie loves the lamb, you know."\nthe teacher did reply'

In [35]:
s.split('\n')  # see solutions

['Mary had a little lamb,',
 'whose fleece was white as snow.',
 '',
 'And everywhere that Mary went,',
 'the lamb was sure to go.',
 '',
 'It followed her to school one day',
 'which was against the rules.',
 '',
 'It made the children laugh and play,',
 'to see a lamb at school.',
 '',
 'And so the teacher turned it out,',
 'but still it lingered near,',
 '',
 'And waited patiently about,',
 'till Mary did appear.',
 '',
 '“Why does the lamb love Mary so?"',
 'the eager children cry.',
 '',
 '“Why, Mary loves the lamb, you know."',
 'the teacher did reply']