In [3]:
import pandas as pd

**1**. Read the `mtcars` data frame from https://bit.ly/2b72LNj to a `pandas` DataFrame. Find the mean `wt` and `mpg` for all cars grouped by the number of `gear`s.

**2**. Download the attention dataset from https://bit.ly/2B1iGZB, treating column 1 as the index, and answer the following:

1. How many rows and columns are there?
2. Drop the `solutions` column
3. Sort by `score` in descending order
4. Who is the subject with the highest score in divided attention?
5. Show the mean and standard deviations of the scores by subject and attention.
6. Find the difference between the scores for each subject when solution = 1 and when solution = 2.

**3**. Convert the data frame `initial` to the data frame `final` using `pandas` operations.

In [4]:
from io import StringIO

In [5]:
s1 = StringIO('''pid	A-B-C-	A-B-C+	A-B+C-	A-B+C+	A+B-C-	A+B-C+	A+B+C-	A+B+C+
0	X1	1	2	3	4	5	6	7	8
1	X2	5	4	3	2	3	4	5	6
''')
initial = pd.read_table(s1)

In [6]:
initial

  pid  A-B-C-  A-B-C+  A-B+C-  A-B+C+  A+B-C-  A+B-C+  A+B+C-  A+B+C+
0  X1       1       2       3       4       5       6       7       8
1  X2       5       4       3       2       3       4       5       6

In [7]:
s2 = StringIO('''	pid	A	B	C	value
0	X1	-	-	-	1
1	X2	-	-	-	5
2	X1	-	-	+	2
3	X2	-	-	+	4
4	X1	-	+	-	3
5	X2	-	+	-	3
6	X1	-	+	+	4
7	X2	-	+	+	2
8	X1	+	-	-	5
9	X2	+	-	-	3
10	X1	+	-	+	6
11	X2	+	-	+	4
12	X1	+	+	-	7
13	X2	+	+	-	5
14	X1	+	+	+	8
15	X2	+	+	+	6
''')
final = pd.read_table(s2, index_col=0)

In [8]:
final

   pid  A  B  C  value
0   X1  -  -  -      1
1   X2  -  -  -      5
2   X1  -  -  +      2
3   X2  -  -  +      4
4   X1  -  +  -      3
5   X2  -  +  -      3
6   X1  -  +  +      4
7   X2  -  +  +      2
8   X1  +  -  -      5
9   X2  +  -  -      3
10  X1  +  -  +      6
11  X2  +  -  +      4
12  X1  +  +  -      7
13  X2  +  +  -      5
14  X1  +  +  +      8
15  X2  +  +  +      6